analyst.zip
developer.zip

raw/analyst
raw/dev

index_part_0.json
index_part_1.json
index_part_2.json
index_part_3.json
index_part_4.json
index_part_5.json
index_part_6.json
index_part_7.json
index_part_8.json
index_part_9.json
index_part_10.json
index_part_11.json
index_part_12.json
index_part_13.json
index_part_14.json
index_part_15.json
index_part_16.json
index_part_17.json
index_part_18.json
index_part_19.json
index_part_20.json
index_part_21.json
index_part_22.json
index_part_23.json
index_part_24.json
index_part_25.json
index_part_26.json

doc_ids.json
final_index.json
__pycache__/file_items.cpython-313.pyc
__pycache__/tokenizer.cpython-313.pyc
index/corpus_meta.json
index/dictionary.csv
index/doc_norms.json
index/postings.bin
